//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Sat 03 18 02:28:58 2023

IO_LOC "DOUT" 27;
IO_PORT "DOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLK_9M" 25;
IO_PORT "CLK_9M" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CS" 26;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "RST_N" 4;
IO_PORT "RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CLK_27M" 52;
IO_PORT "CLK_27M" IO_TYPE=LVCMOS33 PULL_MODE=UP;
